body {
  background-color: #343434;
}
.main{
  margin-top: 30px;
}

.sidenav {
  position: fixed;
  width: 300px;
  top: 0;
  height: 100vh;
  z-index: 100;
  background-color: #555555;
  overflow: hidden;
  transition: width 0.3s ease;
  cursor: pointer;
  box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.4);
}

.sidenav_animate_open{
  animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
}

.sidenav_animate_close{
  animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}
}


.nav:hover {
  color: #45A8E1;
}

.nav {
  list-style-type: none;
  color: white;
}
.nav:first-child {
  padding-top: 1.5rem;
}

.nav {
  padding-bottom: 2rem;
  font-family: "roboto";
}
.nav {
  position: relative;
  display: block;
  top: 0px;
  padding-left: 25px;
  padding-right: 15px;
  transition: all 0.3s ease;
  margin-left: 25px;
  margin-right: 10px;
  text-decoration: none;
  color: white;
  font-family: "roboto";
  font-weight: 100;
  font-size: 1.35em;
}
.nav a:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2px;
  background: radial-gradient(circle at 94.02% 88.03%, #54a4ff, transparent 100%);
  opacity: 0;
  transition: all 0.5s ease;
  z-index: -10;
}
.nav:hover a:after {
  opacity: 1;
}
.nav svg {
  width: 26px;
  height: 26px;
  position: relative;
  left: -25px;
  cursor: pointer;
}
.logout {
  position: relative;
  display: block;
  top: 0px;
  padding-left: 25px;
  padding-right: 15px;
  transition: all 0.3s ease;
  margin-left: 25px;
  margin-right: 10px;
  text-decoration: none;
  color: white;
  font-family: "roboto";
  font-weight: 100;
  font-size: 1.35em;
}
.logout:hover {
  color: #218CCA;
}

body {
  margin: 0;
}

h1 {
  margin-top: 1rem;
  margin-left: 13px;
  margin-bottom: 5px;
  text-align: center;
  font-family: "Roboto";
  font-weight: 100;
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: 6px;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.sidebar_open{
  font-family: Roboto;
  font-weight: 300;
  height: 40px;
  width: 180px;
  color: white;
  background-color: #218CCA;
  padding: 3px;
  margin-top: -30px;
  margin-left: 0px;
  border-style: none;
  font-size: 18px;
  position: fixed;
}

.sidebar_open:hover{
  color: #fff!important;
  background-color: #1C78AD!important;
}

.sidebar_close{
  height: 40px;
  width: 45px;
  color: white;
  background-color: #218CCA;
  padding: 3px;
  margin-left: 255px;
  border-style: none;
  font-size: 18px;
}

.sidebar_close:hover{
  color: #fff!important;
  background-color: #1C78AD!important;
}

#myname{
  font-family: Roboto;
  font-weight: 100;
  font-size: 10px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 25px;
  color: white;
  display: block;
}