*{
	padding : 0;
	margin : 0;
	border : 0;
	font-family: 'Source Sans Pro', sans-serif;
}
html {
	zoom: 95%;
	-moz-transform: scale(0.9);
}
body {
	background-color: #343434;
}
/* Form Base Design */
.form {
	background-color: #E4E4E4;
	display: block;
	width: 1320px;
	height: 780px;
	/*overflow: scroll;*/
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
}

.header {
	background-color: #FFBF00;
	display: block;
	height: 50px;
	width: 1300px;
	padding-top: 10px;
	padding-left: 20px;
	border-radius: 15px 15px 0 0 ;
}

.form_name {
	color: #D81B1B;
	display: block;
	font-weight: 600;
	font-size: 18px;
}

.my_name {
	color: #D81B1B;
	float: left;
	font-weight: 600;
	font-size: 12px;
	margin-right: 10px;
}
.top_container {
	background-color : #F7F7F7;
	clear : none;
	height : 215px;
	width : 999px;
}
.left_container {
	float : left;
	clear : none;
	height : 470px;
	width : 520px;
}
.right_container {
	background-color : #F7F7F7;
	float : left;
	clear : none;
	height: 640px;
    width: 790px;
    margin-top: 5px;
    border: 1px solid #818181;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.bottom_container {
	float: right;
	height: 55px;
	width: 785px;
    background-color: #F7F7F7;
	margin-top: 7px;
	margin-left: 0px;
	margin-right: 13px;
	margin-bottom: 7px;
	border: 1px solid #818181;
	border-radius: 5px;
}

.button {
	text-align: center;
    float: left;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 6px;
    margin-left: 37px;
    margin-right: 6px;
    font-size: 16px;
    width: 145px;
    color: #030303;
    background: #FFBF00;
    border-radius: 5px;
    text-shadow: 1px 1px 0px #DBA400;
    box-shadow: 0px 3px 0px #DBA400;
}

.button:hover {
	background-color: #DBA400;
}

.slot_title {
	float: left;
	width: 300px;
    text-align: left;
    color: #D81B1B;
	font-size: 16px;
	font-weight: 600;
	margin-top: 5px;
	margin-left: 5px;
}

.left_container_slot_1 {
	float: left;
    height: 480px;
    width: 310px;
    margin: 5px;
}
.left_slot_1 {
    float: left;
    width: 310px;
    height: 115px;
    background-color: #F7F7F7;
    margin-bottom: 5px;
    border: 1px solid #818181;
    border-radius: 5px;
}

.left_slot_2 {
    float: left;
    width: 310px;
    height: 360px;
    background-color: #F7F7F7;
    border: 1px solid #818181;
    border-radius: 5px;
}
.slot_1_content {
	float: left;
	width: 290px;
    height: 85px;
    margin-top: 14px;
    margin-left: 10px;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
}

.slot_2_content {
	width: 290px;
    height: 360px;
	text-align: right;
    margin-left: 10px;
}

.slot_2_content_label{
	float: left;
	width: 120px;
	font-size: 14px;
	line-height: 38px;
	padding-bottom: 5px;
	margin: 5px;
}

.slot_2_content_textfield{
	float: left;
	width: 152px;
	font-size: 18px;
	margin-top: 11px;
    margin-bottom: 2px;
    padding-left: 3px;
	border: 1px solid #818181;
    border-radius: 5px;
}

.textfield_1 {
	font-size: 14px;
	margin-bottom: 5px;
	border: 1px solid #646464;
	border-radius: 5px;
}

.left_container_slot_2 {
	float: left;
    height: 483px;
    width: 185px;
    margin: 5px;
    background-color: #F7F7F7;
    border: 1px solid #818181;
    border-radius: 5px;
    text-align: center;
}

.slot_title_2 {
	float: left;
	width: 300px;
    text-align: left;
    color: #D81B1B;
	font-size: 16px;
	font-weight: 600;
	margin-left: 5px;
	margin-bottom: 5px;
}

.container_2_content{
	height: auto;
	width: auto;
	padding-left: 8px;
	font-size: 13px;
    text-align: left;
    line-height: 18px;
}
.container_2_content_label{
	color: #D81B1B;
	font-size: 14px;
	font-weight: 600;
    text-align: right;
    line-height: 24px;
    padding-bottom: 5px;
}

.left_container_slot_3 {
	float: left;
    height: 208px;
    width: 505px;
    margin: 5px;
    background-color: #F7F7F7;
    border: 1px solid #818181;
    border-radius: 5px;
    text-align: left;
}

.slot_title_3 {
	float: left;
	width: 222px;
    text-align: center;
    color: #D81B1B;
	font-size: 16px;
	font-weight: 600;
    margin-top: 5px;
    margin-left: 30px;
}

.summary_txt{
	float: left;
	resize: none;
    height: 160px;
    width: 262px;
  	margin: 10px;
  	padding-left: 3px;
	border: 1px solid #818181;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.bundle_img{
	float: left;
	height: 160px;
	width: 195px;
	margin: 10px;
	border: 1px solid #818181;
    border-radius: 5px;
}

.right_container_slot_1 {
	float: left;
    height: 600px;
    width: 785px;
    border-color: 
    margin: 5px;
    border: 1px solid #818181;
    border-radius: 5px;
    text-align: left;
}

.r_slot_title {
	float: left;
	width: 740px;
    color: #D81B1B;
	font-size: 16px;
	font-weight: 600;
	margin-top: 5px;
	margin-left: 5px;
}

.product{
	height: 180px; 
	width: 145px;
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 5px;
	float: left;
	text-align: center;
	cursor: pointer
}

.food_img{
	height: 110px; 
	width: 110px;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	border: 3px solid #FFBF00;
	border-radius: 5px;
}

.product_btn{
	background-color: white;
}

.right_container input[type=checkbox]{
    display: none;
}

.right_container input[type=checkbox]:checked + .product{
    -webkit-box-sizing: border-box;
    border: 3px solid #D81B1B;
	border-radius: 5px;
}

.product_btn input:hover{
	border: 1px solid #2E2E2E;
	border-radius: 5px;
}

.product_label{
	font-size: 12px;
}